body {
	color: #878787;
	margin: auto 10px;
    width: auto;
    height: 2000px;
}

a {
	float:right;
	
	
}

ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	
}

ul.topnav li {
	float: left;
	
} 

ul.topnav li a {
	display: inline-block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px; 
	
}
ul.topnav li a:hover {
	color: #555
	
}
ul.topnav li.icon {
	display: none;
}



h1 {
	font-size: 80px;
	color: white;
	text-shadow: 2px 2px 4px #000000;
	text-align: center;
	margin-bottom: 45px;
	
}

#para {
	border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   margin: 50px 600px 100px 35px;
	background-color: #ffff99;
	color: slategrey;
    font-size: 18px;
	padding: 30px 10px;
	}



html {
	background: url(https://s-media-cache-ak0.pinimg.com/736x/65/9f/b6/659fb67966dfe71c051a58dd169a5369.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.main-header {
	background-color: lightblue;
	margin: 0 25px 20px;
}

.title {
	color: white;
	font-size: 30px;
	padding-left: 25px;
	
	
}





 